@font-face {
  font-family: poppins;
  src: url(font/Poppins-Regular.otf);
}

@font-face {
  font-family: redhat;
  src: url(font/RedHatDisplay-Regular.ttf);
}

@font-face {
  font-family: redhatBold;
  src: url(font/RedHatDisplay-Bold.ttf);
}
/*
    DEMO STYLE
*/

.font-poppins {
  font-family: 'Poppins' !important;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 14px;
    min-height: 100vh;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

sup {
  color: red;
  font-size: 12px;
}

button[data-name=resizedDataImage] {
    position: relative;
    overflow: hidden;
}

button[data-name=resizedDataImage] input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    max-width: 100%;
    /* -ms-filter: 'alpha(opacity=0)'; */
    direction: ltr;
    cursor: pointer;
}

datalist {
  background-color: #fff !important
}

.mt-n-20 {
  margin-top: -20px;
}

#expand-grievance-arrow {
   -webkit-transition: -webkit-transform .3s ease-in-out;
          transition:         transform .3s ease-in-out;
}


.active-font {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}


.nav-grievance {
  background-color: #333; 
}

.u-logo {
  width: 55px;
  position: relative;
  top: 30px;
  left: 15px;
  border: 1px solid #333;
  border-radius: 50%;
}

.btn-grs {
  background: #3F5EFB;
  color: #eee;
}

.btn-grs2 {
  background: #FC466B;
  color: #eee;
}

.border-bottom-grs {
  border-bottom: 3px solid #3F5EFB;
}

.border-bottom-grs2 {
  border-bottom: 3px solid #FC466B;
}

.navbar {
    padding: 8px 10px;
    /*background: #FC466B; 
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B); 
    background: linear-gradient(to right, #3F5EFB, #FC466B);*/
    background: #fcfcfc;
    border: none;
    border-radius: 0;
    height: 55px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #222;
    color: #444;
    transition: all 0.3s;
}


#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    height: 55px;
    background: #1c1c1c1c;
    border-bottom: 1px solid #333;
    color: #fcfcfc;
}


#sidebar .sidebar-header img {
  width: 44px;
  padding: 6px;
  margin-left: 40px;
}

#sidebar .sidebar-header p {
  margin-top: 11px;
  font-size: 23px;
  font-weight: bolder;
  font-family: 'redhatBold', sans-serif;
}



#sidebar ul p {
    position: relative;
    top: -30px;
    text-align: left;
    margin-left: 80px;
    color: #eee;
    cursor: default;
}

#sidebar .list-unstyled li a {
    padding: 15px;
    padding-left: 30px;
    font-size: 15px;
    display: block;
    color: #bbb;
    cursor: pointer;
}

#sidebar .list-unstyled li a:hover {
    color: #bbb;
    padding-left: 35px;
}

#sidebar .list-unstyled li.active>a {
    color: #999;
    border-left: 5px solid #333;
    font-weight: bold;
    background-color: #1c1c1c;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #333;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 230px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.content-body {
  padding: 30px;
  min-height: 100vh;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        display: none !important;
    }
    #sidebar.active {
        margin-left: -250px;
    }
    #content {
        width: 100% !important;
    }
    #content-body
    #content.active {
        width: calc(100% - 220px);
    }
    #sidebarCollapse span {
        display: none;
    }
    #content-body {
      padding: 10px !important;
    }

    .form-grievance {
      width: 100% !important;
    }
}


/* ==================================================== */



.nav-cons, .nav-cons:hover {
  /* padding: 15px; */
  margin-right: 20px;
  border: 1px solid transparent;
  background-color: transparent !important;
  outline: none !important;
}


.nav-cons:focus, .nav-cons i:focus, .nav-cons:hover {
  background-color: #fff;
  color: #002A7F;
}

.nav-cons i {
  font-size: 16px;
}


.heading-div {
 
}

.heading-div2 {
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: #eee;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid #fcfcfc;
  outline: none;
}

.heading-div2 img {
  width: 40px;
}

.divider {
  border-top: 1.2px solid #444;
  width: 80%;
}

.stats {
  width: 15px;
  height: 15px;
  position: relative;
  background: rgb(86,195,34);
  background: radial-gradient(circle, rgba(86,195,34,1) 0%, rgba(143,253,45,1) 100%);
  left: 55px;
  border-radius: 50%;
  top: 10px;
  border: 2px solid #222;
}

.access-p {
  font-size: 12px;
  color: #999;
}

.sidebar-footer ul{
  list-style: none;
}

.sidebar-footer ul li {
  line-height: 30px;
  transition: all .2s;
}

.sidebar-footer ul li a {
  font-size: 15px;
}

.sidebar-footer ul li:hover {
  color: #aaa;
}

.sidebar-footer ul li .active {
  color: #aaa;
}

.footer-cons {
  transition: all .3s;
  cursor: pointer;
}

.footer-cons-info:hover {
  color: #3F5EFB;
}

.footer-cons-question:hover {
  color: rgba(223,236,58,1);
}

.footer-cons-exclamation:hover {
  color: #FC466B;
}


@media (min-width: 992px) {
  .animate {
    animation-duration: 01s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.nav-item {
  list-style: none;
}

.tab {
  margin-left: 1vh;
}

#sidebar a i {
  width: 20px;
  text-align: center;
}

.loading {
  width: 50px;
  margin: auto;
  display: block;
  margin-top: 23%;
}

.loading2 {
  width: 300px;
  margin: auto;
  display: block;
  /*margin-top: 200px;*/
}

.loading3 {
  width: 100px;
  margin: auto;
  display: block;
  margin-top: -20px;
  margin-bottom: -20px;
}
/* =======================================
          ADD GRIEVANCE
======================================= */
.form-grievance {
  background-color: #fcfcfc;
  width: 950px;
  height: auto;
  margin: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 3px #333;
  border-top: 5px solid #FC466B;
}

.form-grievance h4 {
  text-align: center;
  padding: 20px;
}

.form-grievance-ul {
  list-style: none;
  padding: 0px;
}

.form-grievance-ul .active {
  background: #3F5EFB;
  color: #eee;
  box-shadow: 0 0 3px #222;
  transition: all .8s;
}

.form-grievance-ul li {
  display: inline-block;
  text-align: center;
  width: 32.66%;
  font-size: 17px;
  padding: 0px;
}


.group            {
  position:relative;
  width: 100%;
}
.input-txt               {
  font-size:12px;
  padding:10px 10px 5px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
}
.input-txt:focus         { outline:none; }

/* .input-lbl ======================================= */
.input-lbl                {
  color:#999;
  font-size:12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:13px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.input-txt:focus ~ .input-lbl, .input-txt:valid ~ .input-lbl        {
  top:-10px;
  font-size:12px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:100%; }
.bar:before, .bar:after     {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.input-txt:focus ~ .bar:before, .input-txt:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.input-txt:focus ~ .highlight {
  -webkit-animation:input-txtHighlighter 0.3s ease;
  -moz-animation:input-txtHighlighter 0.3s ease;
  animation: input-txtHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes input-txtHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes input-txtHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes input-txtHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-container i {
  font-size: 18px;
  padding: 5px;
  margin-top: 6px;
  text-align: left;
  width: 30px;
}

#form-sec1, #form-sec2, #form-sec3 {
  padding: 30px;
}

.hidden {
  display: none;
}

.form-btn {
  padding-bottom: 30px;
}

.txt-area {
  height: 200px;
  resize: none;
}

.modal-title {
  margin:auto;
}

.modal-lg {
    max-width: 80% !important;
}

.modal-body {
  padding: 0px;
}

#table-modal th {
  text-align: center;
  background: #aaa;
  padding: 5px;
}

#table-modal tr td {
  padding: 0px 5px;
}

.form-radio {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 1px solid #aaa;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}

.form-radio:checked::before {
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}

.form-radio:hover {
     background-color: #f7f7f7;
}

.form-radio:checked {
     background-color: #f1f1f1;
}

.radio-lbl {
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
     font-size: 16px;
}

.radio-div {
  display: inline-block;
  width: 48%;
  margin-bottom: 20px;
}

.radio-form-div {
  width: 180px;
  margin: auto;
}

.search-result {
  font-size: 12px;
  width: auto !important;
}

.search-result div {
  padding:0px 5px;
  cursor: pointer;
}

.search-result div:hover {
  background-color: #999;
}

.error{
    background: red;
}

.btn-main {
  background-color: #222;
  color: #fcfcfc;
}

.btn-main:hover {
  color: #fcfcfc;
  background-color: #666;
}

.field-required {
  font-size: 12px;
  color: red;
  display: none;
  margin-bottom: -10px !important;
}


input::-webkit-calendar-picker-indicator {
	display: none;
}

.note-placeholder {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 2rem;
  color: #e4e5e7;
  pointer-events: none;
}

/*Toolbar panel*/

.note-editor .note-toolbar {
  background: #f0f0f1;
  border-bottom: 1px solid #c2cad8;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/*Buttons from toolbar*/

.summernote .btn-group, .popover-content .btn-group {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.note-popover {
  background: #f0f0f1!important;
}

.summernote .btn, .note-btn {
  color: rgba(0, 0, 0, .54)!important;
  background-color: transparent!important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.summernote .dropdown-toggle:after {
  vertical-align: middle;
}

.note-editor.card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
}

/* Border of the Summernote textarea */

.note-editor.note-frame {
  border: 1px solid rgba(0, 0, 0, .14);
}

/* Padding of the text in textarea */

.note-editor.note-frame .note-editing-area .note-editable {
  padding-top: 1rem;
}

.d-none2 {
  display:none;
}

.welcome-img-holder {
  width: 50px;
  height: 50px;
  border: 2px solid #222;
  border-radius: 50%;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.welcome-field {
  margin:auto;
  width: 260px;
}

.btn-profile {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.cursor-pointer {
  cursor:pointer;
}


.th-bkg {
  background: #fff;
  color: #222;
}

#welcomeModal {
  background: rgba(0,0,0,0.2);
}

.welcome-img {
  width: 100%;
  height: 100%;
  background-position: center;
  overflow: hidden;
}

.logout-btn {
  color: #222 !important;
  width: 40px;
  font-size: 17px;
  outline: none !important;
  background: none;
  border: none;
}

.logout-btn:hover {
  color: #555 !important;
}

.color-1 {
  background-color: #3F5EFB !important;
}

.color-2 {
  background-color: #FC466B !important;
}

.color-1-txt {
  color: #3F5EFB !important;
}

.color-2-txt {
  color: #FC466B !important;
}

.color-3-txt {
  color: #555 !important;
}

.message-field .dropdown-menu {
  padding: 0;
  width: 300px;
}

.message-field .dropdown-header {
  color: #fcfcfc;
  background: #3F5EFB;
}

.message-field .dropdown-item {
  border-bottom: 1px solid #eee;
}

.message-field .dropdown-item .message-desc {
  display: block;
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  font-size: 14px;
  margin: 0px;
  margin-top:5px;
}

.message-field .dropdown-item .msg-user {
  font-size: 11px;
  color: #888;
  margin: 0px;
}

.message-field .dropdown-footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  margin: 0px;
  color: #777;
  cursor: pointer;
  transition: all .3s;
}

.message-field .dropdown-footer:hover {
  color: #222;
}

.msg-img-holder {
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.msg-img {
  width: 45px;
  height: 45px;
}

input[type="search"] {
  border: none;
  box-shadow: 0 0 2px 2px inset #999;
  border-radius: 5px;
  padding: 6px;
}

input[type="search"]:focus {
  outline: none;
}

#myModal3 {
  background: rgba(0,0,0,.3);
}

button.close {
  outline: none !important;
}

.logout-field .dropdown-menu {
  width: 230px;
}

.logout-field .dropdown-body p {
  font-size: 12px;
}

.text-black {
  color: #222 !important;
}

.text-white {
  color: #fcfcfc !important;
}

#myModal2 {
  background-color: rgba(0, 0, 0, 0.3);
}

#myModal3 .delete-desc {
  width: 100%;
  border: none;
  box-shadow: 0 2px 2px 2px inset rgba(0,0,0,.2);
  resize: none;
  border-radius: 5px;
  overflow-x: hidden;
  min-height: 200px;
  outline: none;
  padding: 10px;
}

.delete-desc::-webkit-scrollbar {
    width: 1em;
}
 
.delete-desc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.delete-desc::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
  cursor: default;
}

.lbl-dr {
  top: -10px !important;
  color: #5264AE !important;
}

.alert-dr {
  font-size: 12px;
}

.bar-con {
  text-shadow: 0 0 3px #fcfcfc;
  transition: all .5s;
  cursor: pointer;
}

.bar-con:hover {
  text-shadow: 0 0 3px #222;
  border-radius: 3px;
}

.nav2-container {
  background: #eee;
  border-radius: 5px;
}

#nav2 {
  z-index: 999;
  margin-top: -4px;
}

#nav2 .dropdown-menu {
  border:none;
  border-radius: 2px;
  background: #ccc;
  color: #444;
}

#nav2 .dropdown-font {
  font-size: 13px;
}

#navToggle2 {
  background: transparent;
  border: none;
  outline: none;
  margin-top: -62px;
}

.stats2 {
  position: relative;
  top: -16px;
  right: -13px;
  color: #3F5EFB;
  text-shadow: 0 1px 1px #333;
}

.msg-loading img {
    margin: auto;
    display: block;
    height: 123px;
    margin-top: -30px;
    margin-bottom: -30px;
}

#loadingModal .modal-content {
  background: transparent;
  border: none;
}

.loadMod {
  width: 100px;
  margin: auto;
}

.loadText {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  text-shadow: 0 2px #222;
}

.newNotif {
  background: red;
  color: #fcfcfc;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  float: right;
  margin-left: -19px;
  margin-right: 3px;
  text-shadow: 0 1px 1px #222;
}

.color-4-txt {
  color: #666 !important;
}

.f-13 {
  font-size: 13px !important;
}

.toast {
  width: 300px !important;
}

#toast-container {
  z-index: 999999 !important
}

.card-1 {
  min-height: 80vh;
}

.nav-logo-mini {
  width: fit-content;
}

.nav-logo-mini img {
  width: 35px;
  height: 45px;
}

.nav-logo-mini p {
  padding: 8px 5px;
  font-size: 20px;
  font-family: redHatBold;
  text-shadow: 0 1px 1px #aaa;
}

table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(odd) {
  background-color: #F3F3F3;
}
table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(even) {
  background-color: white;
}

